<a href="https://colab.research.google.com/github/minhtuan150801/DataAnalystDeepLearning/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Examnple **1**

In [1]:
import pandas as pd
s = pd.Series([12,-4,7,9], index=['a', 'b', 'c', 'd'])
print (s)

a    12
b    -4
c     7
d     9
dtype: int64

In [6]:
import pandas as pd
s = pd.Series([12,-4,7,9])
print(s)

0    12
1    -4
2     7
3     9
dtype: int64

In [4]:
s.values

array([12, -4,  7,  9])

In [5]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
data ={'color' : ['blue', 'green', 'yellow', 'red', 'white'],
	'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
	'price': [1.2, 1.0, 0.6,0.9,1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [8]:
frame2 = pd.DataFrame (data, columns = ['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [9]:
frame2['type'] ='normal'
frame2

   object  price    type
0    ball    1.2  normal
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7  normal

In [10]:
for i in range(len(frame2)):
  if frame2['price'][i] > 1.0:
    frame2.loc[i, 'type'] = 'good'
frame2

   object  price    type
0    ball    1.2    good
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7    good

In [ ]:
frame2['discount'] = frame2['price']*0.02
frame2

In [12]:
frame2['discount'] = frame2['price']*0.02
frame2

   object  price    type  discount
0    ball    1.2    good     0.024
1     pen    1.0  normal     0.020
2  pencil    0.6  normal     0.012
3   paper    0.9  normal     0.018
4     mug    1.7    good     0.034

In [11]:
import pandas as pd
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv")
print (dulieuxettuyen.head(10))

   STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
0    1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
2    3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
3    4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
4    5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A
5    6  9.3  7.6  7.9  8.6  7.0  7.3  ...   M NaN    1  1.50  4.00  6.00  D1
6    7  2.8  3.9  5.5  6.9  5.0  7.3  ...   F NaN    2  6.50  6.75  5.25   C
7    8  8.3  6.0  7.6  5.1  7.5  4.7  ...   F NaN    2  3.75  4.50  4.25  D1
8    9  6.5  6.3  7.6  6.0  5.5  7.1  ...   F NaN    1  3.50  3.50  6.75  D1
9   10  7.3  5.9  4.7  7.1  6.7  7.9  ...   F NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]